# Project files
.gitignore

##
# copied from:
# https://linuxize.com/post/gitignore-ignoring-files-in-git/
# ###

# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/build

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
*.sublime*

